<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="vue.js"></script>
    <style type="css/text">

    </style>
</head>
<div id="app">
    <children>
        <span>12345</span>
        <!--上面这行不会显示-->
    </children>
</div>
<div id="app1">
    <children>
        <span>12345</span>
        <!--上面这行不会显示-->
    </children>
</div>
<div id="app2">
    <children>
        <span slot='first'>12345</span>
        <span slot='second'>678910</span>
        <!--上面这行不会显示-->
    </children>
</div>
<div id="app3">
    <children>
        <span slot="first" @click="tobeknow">12345</span>
        <span slot="second">56789</span>
        <!--上面这行不会显示-->
    </children>
</div>
<div id="app4">
    <children>
        <span slot="first">【12345】</span>
        <!--上面这行不会显示-->
    </children>
</div>
<div id="app5">
    <button @click="toshow">点击让子组件显示</button>
    <children v-if="abc">
    </children>
</div>
<div id="app6">
    <button @click="toshow">点击让子组件显示</button>
    <children>
        <span slot="first">【12345】</span>
        <!--上面这行不会显示-->
    </children>
</div>
<script>
    var app = new Vue({
        el: '#app',
        components: {
            children: { //这个无返回值，不会继续派发 
                template: "<button>为了明确作用范围，所以使用button标签</button>"
            }
        }
    });
    var app = new Vue({
        el: '#app1',
        components: {
            children: { //这个无返回值，不会继续派发 
                template: "<button><slot></slot>为了明确作用范围，所以使用button标签<slot></slot></button>"
            }
        }
    });
    var app = new Vue({
        el: '#app2',
        components: {
            children: { //这个无返回值，不会继续派发 
                template: "<button><slot name='first'></slot>为了明确作用范围，所以使用button标签<slot name='second'></slot></button>"
            }
        }
    });
    var vm = new Vue({
        el: '#app3',
        methods: {
            tobeknow: function () {
                console.log("It is the parent's method");
            }
        },
        components: {
            children: { //这个无返回值，不会继续派发 
                template: "<button><slot name='first'></slot>为了明确作用范围，<slot name='second'></slot>所以使用button标签</button>"
            }
        }
    });
    var vm = new Vue({
        el: '#app4',
        components: {
            children: { //这个无返回值，不会继续派发 
                template: "<div><slot name='first'><button>【如果没有内容则显示我1】</button></slot>为了明确作用范围，<slot name='last'><button>【如果没有内容则显示我2】</button></slot>所以使用button标签</div>"
            }
        }
    });
    var vm = new Vue({
        el: '#app5',
        data: {
            abc: false
        },
        methods: {
            toshow: function () {
                this.abc = !this.abc;
            }
        },
        components: {
            children: { //这个无返回值，不会继续派发 
                template: "<div>这里是子组件</div>"
            }
        }
    });
    var vm = new Vue({
        el: '#app6',
        methods: {
            toshow: function () {
                this.$children[0].tohidden = true;
            }
        },
        components: {
            children: { //这个无返回值，不会继续派发 
                template: "<div v-if='tohidden' @click='tohide'>这里是子组件</div>",
                data: function () {
                    return {
                        tohidden: true
                    }
                },
                methods: {
                    tohide: function () {
                        this.tohidden = !this.tohidden;
                    }
                }
            }
        }
    }); 
</script>

<body>
</body>

</html>