<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="vue.js"></script>
</head>
<div id="app">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <blog-post title="标题1"></blog-post>
    <blog-post title="标题2"></blog-post>
</div>
<div id="app1">
    <div v-bind:style="{ fontSize: postFontSize + 'em' }">
        <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title" v-on:enlarge-text="postFontSize += 0.1">
        </blog-post>
    </div>
</div>
<div id="app2">
    <custom-input v-model="searchText"></custom-input>
</div>

<div id="app3">
    <alert-box></alert-box>
</div>
<script>
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })
    Vue.component('blog-post', {
        props: ['post'],
        template: `<div class="blog-post">
            <h3>{{ post.title }}</h3>
            <button v-on:click="$emit('enlarge-text')">
                Enlarge text
             </button>
            <div v-html="post.content"></div>
        </div>`
    })
    Vue.component('custom-input', {
        props: ['value'],
        template: `
    <input
      v-bind:value="value"
      v-on:input="$emit('input', $event.target.value)"
    >
  `
    })
    Vue.component('alert-box', {
        template: `
    <div class="demo-alert-box">
      <strong>Error!</strong>
      <slot></slot>
    </div>
  `
    })

    var app = new Vue({
        el: '#app'
    })
    var app = new Vue({
        el: '#app1',
        data: {
            posts: [
                { id: 1, title: 'My journey with Vue' },
                { id: 2, title: 'Blogging with Vue' },
                { id: 3, title: 'Why Vue is so fun' },
            ],
            postFontSize: 3
        }
    })
    var app = new Vue({
        el: '#app2',
        data: {
            value: 'aaaaa'
        }

    })

    var app = new Vue({
        el: '#app3'
    })
</script>

<body>
</body>

</html>